<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>View Recipes</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<style>
.username.ng-valid {
	background-color: lightgreen;
}

.username.ng-dirty.ng-invalid-required {
	background-color: red;
}

.username.ng-dirty.ng-invalid-min {
	background-color: yellow;
}

.email.ng-valid {
	background-color: lightgreen;
}

.email.ng-dirty.ng-invalid-required {
	background-color: red;
}
</style>
<link rel="stylesheet" href="css/bootstrap.css" />
<link rel="stylesheet" href="css/app.css" />
</head>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<body>
	<h1>Coffee Recipes</h1>
	<div layout:fragment="content">

		<script>
    /*<![CDATA[*/
		var app = angular.module('myApp', []);
		app.controller('recipesCtrl', function($scope, $http, $q) {
			/* The default placeholder for when no recipe has been selected */
			$scope.defaultHolder = "Please select a recipe to edit"

    	function updateRecipes() {
    		$http.get("/api/v1/recipes").then(function (response) {
    				$scope.recipes = response.data;
    			});
    	}

			$scope.updatePlaceholders = function() {
				if($scope.id){
					//Function will perform shallow clone
					clone = obj => Object.assign({}, obj);

					$scope.selectedRecipe = clone($scope.recipes.find(e => e.id.toString() === $scope.id));
				}
			}

			$scope.list = function() {
				console.log( $scope )
			}

        // Load the recipes on page load
				updateRecipes();
		});
	/*]]>*/
	</script>

		<div ng-app="myApp" ng-controller="recipesCtrl">

			<input type="submit" value="Test" ng-click="list()"/>

			<ul>
				<li ng-repeat="recipe in recipes"><label>{{recipe.name}}
							<input type="radio" ng-model="$parent.id" name="name"
						value="{{recipe.id}}" required="true" ng-click="updatePlaceholders()"/>
				</label></li>
			</ul>
			<div ng-if="0 >= recipes.length">There are no recipes in the
				Coffee Maker.
      </div>

      <div class="panel-heading">
				<span class="lead">Update Inventory Form </span>
			</div>
			<div class="formcontainer">
				<form ng-submit="ctrl.submit()" name="addInventoryForm"
					class="form-horizontal">

					<div class="row">
						<div class="form-group col-md-12">
							<label class="col-md-2 control-lable" for="file">Price</label>
							<div class="col-md-7">
								<input type="text" ng-model="selectedRecipe.price"
									name="coffee" class="coffee form-control input-sm"
									placeholder="{{selectedRecipe ? 'Enter price' : defaultHolder}}"
									required="0"
									ng-readonly="!selectedRecipe"
								/>
								<div class="has-error" ng-show="addInventoryForm.$dirty">
									<span ng-show="addInventoryForm.price.$error.required">This
										is a required field</span> <span
										ng-show="addInventoryForm.price.$error.min">Minimum
										amount is 0</span> <span ng-show="addInventoryForm.price.$invalid">This
										field is invalid </span>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="form-group col-md-12">
							<label class="col-md-2 control-lable" for="file">Coffee</label>
							<div class="col-md-7">
								<input type="text" ng-model="selectedRecipe.coffee"
									name="coffee" class="coffee form-control input-sm"
									placeholder="{{selectedRecipe ? 'Enter amount of coffee' : defaultHolder}}"
									required="0"
									ng-readonly="!selectedRecipe"
								/>
								<div class="has-error" ng-show="addInventoryForm.$dirty">
									<span ng-show="addInventoryForm.coffee.$error.required">This
										is a required field</span> <span
										ng-show="addInventoryForm.coffee.$error.min">Minimum
										amount is 0</span> <span ng-show="addInventoryForm.coffee.$invalid">This
										field is invalid </span>
								</div>
							</div>
						</div>
					</div>


					<div class="row">
						<div class="form-group col-md-12">
							<label class="col-md-2 control-lable" for="file">Milk</label>
							<div class="col-md-7">
								<input type="text" ng-model="selectedRecipe.milk" name="milk"
									class="milk form-control input-sm"
									placeholder="{{selectedRecipe ? 'Enter amount of milk' : defaultHolder}}" required="0"
									ng-readonly="!selectedRecipe"/>
								<div class="has-error" ng-show="addInventoryForm.$dirty">
									<span ng-show="addInventoryForm.milk.$error.required">This
										is a required field</span> <span
										ng-show="addInventoryForm.milk.$error.min">Minimum
										amount is 0</span> <span ng-show="addInventoryForm.milk.$invalid">This
										field is invalid </span>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="form-group col-md-12">
							<label class="col-md-2 control-lable" for="file">Sugar</label>
							<div class="col-md-7">
								<input type="text" ng-model="selectedRecipe.sugar" name="sugar"
									class="sugar form-control input-sm"
									placeholder="{{selectedRecipe ? 'Enter amount of sugar' : defaultHolder}}" required="0"
									ng-readonly="!selectedRecipe"/>
								<div class="has-error" ng-show="addInventoryForm.$dirty">
									<span ng-show="addInventoryForm.sugar.$error.required">This
										is a required field</span> <span
										ng-show="addInventoryForm.sugar.$error.min">Minimum
										amount is 0</span> <span ng-show="addInventoryForm.sugar.$invalid">This
										field is invalid </span>
								</div>
							</div>
						</div>
					</div>


					<div class="row">
						<div class="form-group col-md-12">
							<label class="col-md-2 control-lable" for="file">Chocolate</label>
							<div class="col-md-7">
								<input type="text" ng-model="selectedRecipe.chocolate"
									name="chocolate" class="chocolate form-control input-sm"
									placeholder="{{selectedRecipe ? 'Enter amount of chocolate' : defaultHolder}}" required="0"
									ng-readonly="!selectedRecipe"/>
								<div class="has-error" ng-show="addInventoryForm.$dirty">
									<span ng-show="addInventoryForm.chocolate.$error.required">This
										is a required field.</span> <span
										ng-show="addInventoryForm.chocolate.$error.min">Minimum
										amount is 0.</span> <span
										ng-show="addInventoryForm.chocolate.$invalid">This
										field is invalid. </span>
								</div>
							</div>
						</div>
					</div>


					<div class="row">
						<div class="form-actions floatRight">
							<input type="submit" value="Submit"
								class="btn btn-primary btn-sm"
								ng-disabled="addInventoryForm.$invalid" />
							<button type="button" ng-click="ctrl.reset()"
								class="btn btn-warning btn-sm"
								ng-disabled="addInventoryForm.$pristine">Reset Form</button>
						</div>
					</div>
				</form>
			</div>
			<div ng-show="success">Inventory Successfully Updated</div>
			<div ng-show="failure">Error while updating inventory.</div>

		</div>
		<a href="/index">Home</a>
	</div>



</body>
</html>
